*{
    padding: 0px;
    margin: 0px;
    color: rgb(107, 106, 106);
}
body{
    background-color: #cccccc;
    font-size: 16px;
}
#content{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    min-height: 350px;
    margin: 200px auto;
    border-radius: 20px;
    border: 2px #dddddd solid;
    padding: 50px;
    background-image: linear-gradient(to top, #cccccc,#fff);
}
#content input{
    border: #cccccc 1px solid;
    padding-left: 5px;
    border-radius: 3px;
    outline: medium;
    margin-top: 10px;
}
#content .register_input_span
{
    min-width: 120px;
    display: inline-block;
    
}
input[type='submit']:hover{
    background-color: rgb(206, 206, 206);
}
#content .btn_register_message{

    width: 80%;
    height: 30px;
    border: none;
    background-color:rgb(161, 160, 160);
    outline: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 10px;
}
#content .register{

        width: 80%;
        height: 30px;
        border: none;
        background-color:rgb(161, 160, 160);
        outline: medium;
        margin-bottom: 10px;
        margin-left: 40px;
        
    
}
#content .back{
    width: 80%;
    height: 30px;
    border: none;
    background-color:rgb(161, 160, 160);
    outline: medium;
    margin-left: 40px;
}
#content input[type='submit']:hover{
    background-color: rgb(201, 201, 201);
}