*{
    padding: 0px;
    margin: 0px;
    color: #aaaaaa;
}
body{
    background-color: #cccccc;
    font-size: 16px;
}
#content{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    min-height: 350px;
    margin: 200px auto;
    border-radius: 20px;
    border: 2px #dddddd solid;
    padding: 50px;
    background-image: linear-gradient(to top, #cccccc,#fff);
}
#content input{
    border: #cccccc 1px solid;
    padding-left: 5px;
    border-radius: 3px;
    outline: medium;
    margin-top: 10px;
}
#content span
{
    min-width: 120px;
    display: inline-block;
    
}
#content .register_message{

    width: 100%;
    height: 30px;
    border: none;
    background-color:#cccccc;
    outline: medium;
    margin-top: 50px;
    margin-bottom: 10px;

}
#content .register{

        width: 100%;
        height: 30px;
        border: none;
        background-color:#cccccc;
        outline: medium;
        
        margin-bottom: 10px;
    
}
#content .back{
    width: 100%;
    height: 30px;
    border: none;
    background-color:#cccccc;
    outline: medium;
}